<<<<<<< HEAD
* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #141414 #0e0e0e;
}

body {
    background-color: #0e0e0e;
    color: aliceblue;
    font-family: system-ui;
    padding: 50px 75px;
}

svg {
    width: 25px;
    color: gray;
    transition: all 0.3s ease;
}

svg:hover {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle at var(--x, 10%) var(--y, 10%),
            rgba(255, 255, 255, 5%) 0.05%,
            rgba(0, 0, 0) 400px);
    mix-blend-mode: screen;
    z-index: 9999;
}

.container {
    display: flex;
}

.container-left {
    position: fixed;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.container-right {
    margin-left: 50%;
    width: 50%;
    padding-top: 60px;
    font-size: 18px;
    color: #ffffff99;
}

section {
    height: 100vh;
    scroll-margin-top: 140px;
}

.experience {
    scroll-margin-top: 50px;
    margin-bottom: 150px;
}

.highlight {
    color: white;
}

.name {
    font-size: 52px;
}

.title {
    font-weight: normal;
    margin-top: -35px;
    font-size: 24px;
}

.description {
    font-weight: lighter;
    font-size: 16px;
    width: 60%;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.index-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease;
}

.index-item:hover,
.index-item:active {
    width: 200%;
    color: aliceblue;
}

.line-a {
    width: 5%;
    height: 1px;
    background-color: gray;
    display: flex;
}

.download-cv {
    background-color: #cfd6dca3;
    color: #141414;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 25px;
    width: 125px;
    transition: all 0.3s ease;
}

.download-cv:hover {
    background-color: aliceblue;
    color: #0e0e0e;
    box-shadow: 0px 0px 5px aliceblue;
    scale: 1.01;
}

.bottom {
    gap: 10px;
    display: flex;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px 0px;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: #141414;
    box-shadow: 3px 3px 10px #00000047;
}

.left {
    width: 70%;
    padding: 0 10px;
    font-size: 16px;
}

.time {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.right {
    padding: 0 10px;
    width: 240%;
}

.right p {
    margin: 15px 0px -15px 0px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.right .description {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    color: gray;
    font-weight: lighter;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.skills a {
    background-color: rgba(240, 248, 255, 0.85);
    padding: 5px 10px;
    border-radius: 25px;
    color: #0e0e0e;
    font-size: 14px;
    transition: all 0.3s ease;
    font-weight: bold;
}
=======
svg {
    width: 25px;
    color: gray;
    transition: all 0.3s ease;
}

svg:hover {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

body {
    background-color: #0e0e0e;
    color: aliceblue;
    font-family: system-ui;
    padding: 50px 75px;
}

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle at var(--x, 10%) var(--y, 10%),
            rgba(255, 255, 255, 5%) 0.05%,
            rgba(0, 0, 0) 400px);
    mix-blend-mode: screen;
    z-index: 9999;
}

.container {
    display: flex;
}

.container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.container-right {
    width: 50%;
    margin-top: 40px;
    font-size: 18px;
    color: #ffffff99;
}

.highlight {
    color: white;
}

.name {
    font-size: 52px;
}

.title {
    font-weight: normal;
    margin-top: -35px;
    font-size: 24px;
}

.description {
    font-weight: lighter;
    font-size: 16px;
    width: 60%;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.index-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease;
}

.index-item:hover,
.index-item:active {
    width: 200%;
    color: aliceblue;
}

.line-a {
    width: 5%;
    height: 1px;
    background-color: gray;
    display: flex;
}

.bottom {
    gap: 10px;
    display: flex;
}
>>>>>>> 243c1b98400f0b209190b695978bec40d44a644b
