* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #141414 #0e0e0e;
}

body {
    background-color: #0e0e0e;
    color: aliceblue;
    font-family: system-ui;
    padding: 50px 75px;
}

svg {
    width: 25px;
    color: gray;
    transition: all 0.3s ease;
}

svg:hover {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle at var(--x, 10%) var(--y, 10%),
            rgba(255, 255, 255, 5%) 0.05%,
            rgba(0, 0, 0) 400px);
    mix-blend-mode: screen;
    z-index: 9999;
}

.container {
    display: flex;
}

.container-left {
    position: fixed;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.container-right {
    margin-left: 50%;
    width: 50%;
    padding-top: 60px;
    font-size: 18px;
    color: #ffffff99;
}

section {
    height: 100vh;
    scroll-margin-top: 140px;
    opacity: 0;
    transform: translateY(00px);
    transition: all 0.5s ease-out;
}

/* Al entrar en viewport */
section.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* (Opcional) Al salir de viewport, revertimos */
section.out-view {
  opacity: 0;
  transform: translateY(0px);
}


.experience {
    scroll-margin-top: 50px;
    margin-bottom: 150px;
    height: auto;
}

.highlight {
    color: white;
}

.name {
    font-size: 52px;
}

.title {
    font-weight: normal;
    margin-top: -35px;
    font-size: 24px;
}

.description {
    font-weight: lighter;
    font-size: 16px;
    width: 60%;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.index-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease;
}

.index-item:hover,
.index-item.active {
    width: 200%;
    color: aliceblue;
}

.line-a {
    width: 5%;
    height: 1px;
    background-color: gray;
    display: flex;
}

.download-cv {
    background-color: #cfd6dca3;
    color: #141414;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 25px;
    width: 125px;
    transition: all 0.3s ease;
}

.download-cv:hover {
    background-color: aliceblue;
    color: #0e0e0e;
    box-shadow: 0px 0px 5px aliceblue;
    scale: 1.01;
}

.bottom {
    gap: 10px;
    display: flex;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px 0px;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: #141414;
    box-shadow: 3px 3px 10px #00000047;
}

.left {
    width: 70%;
    padding: 0 10px;
    font-size: 16px;
}

.time {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.right {
    padding: 0 10px;
    width: 240%;
    padding-right: 25px;
}

.right p {
    margin: 15px 0px -15px 0px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.right .description {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    color: gray;
    font-weight: lighter;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.skills a {
    background-color: rgba(240, 248, 255, 0.85);
    padding: 5px 10px;
    border-radius: 25px;
    color: #0e0e0e;
    font-size: 14px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.projects {
    scroll-margin-top: 50px;
    height: auto;
}

.card-project {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    transition: all 0.3s ease;
    margin: 25px 0px;
}

.card-project:hover {
    background-color: #141414;
    box-shadow: 3px 3px 10px #00000047;
}

.project-img {
    width: 500px;
    height: 150px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    object-fit: cover;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
}

.project-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    filter: invert(1);
}

.project-information {
    margin: 0 15px;
}

.project-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 0;
}

.project-description {
    font-size: 16px;
    color: gray;
    margin: 5px 0;
}

.projects svg {
    width: 18px;
}

/* Smooth theme transition */
html, body, .container-left, .container-right,  .card, .card-project {
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Toggle button */
.theme-toggle {
    position: fixed;
    bottom: 90px;
    left: -65px;
    transform: rotate(270deg);
    z-index: 10000;
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
    justify-content: space-around;
    width: 200px;
    font-family: arial;
    filter: opacity(0.3);
}

.theme-toggle:hover {
  color: aliceblue;
}

.line-a-theme {
    width: 50px;
    height: 1px;
    background-color: white;
    display: flex;
}

body.light-mode .theme-toggle {
    color: #111;
}

body.light-mode .line-a-theme {
    background-color: #111;
}

body.light-mode .project-image{
    filter: invert(0);
}


body.light-mode {
    background-color: #f9f9f9;
    color: #111;
}

body.light-mode a {
    color: #111;
}

body.light-mode .spotlight {
    background: radial-gradient(circle at var(--x, 10%) var(--y, 10%),
        rgba(0, 0, 0, 0.05) 0.05%,
        rgba(255, 255, 255) 400px);
    mix-blend-mode: multiply;
}

body.light-mode .index-item {
    color: #999;
}

body.light-mode .index-item:hover{
    color: #111;
}


body.light-mode .index-item.active {
    color: #111;
}

body.light-mode .line-a {
    background-color: #999;
}

body.light-mode .download-cv {
    background-color: #111;
    color: #fff;
}

body.light-mode .download-cv:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0px 0px 5px #111;
}

body.light-mode .card,
body.light-mode .card-project {
    border: solid 1px #eee;
}


body.light-mode .card:hover,
body.light-mode .card-project:hover {
    background-color: #eee;
    box-shadow: 3px 3px 10px #ccc;
}

body.light-mode p {
    color: #444;
}

body.light-mode .highlight {
    color: #000;
}

body.light-mode .right .description,
body.light-mode .project-description {
    color: #444;
}

body.light-mode .skills a {
    background-color: rgba(20, 20, 20, 0.1);
    color: #000;
}

body.light-mode .project-img {
    background-color: #000;
}

body.light-mode .project-title {
    color: #000;
}

body.light-mode .projects svg,
body.light-mode svg {
    color: #888;
}

body.light-mode svg:hover {
    color: #000;
}
